.App {
  height: 100%;
  width: 100%;
}

.game-message {
  top: 0;
  right: 0;
  z-index: 2000;
  margin: 3rem;
  min-height: '200px';
}

.button-default{
  margin-bottom: 0.5rem;
  margin-top: 0px;
  width: 100%
}

.game-loaded-container{
  height: 100%;
  width: 100%;
}